body {
	margin:0px;
	padding:0px;
	background-image: url(../media/bg.png);
	background-size: cover;
}

#container {
	position: relative;
	width:400px;
	height: 478px;
	margin:0px auto;
	margin-top:22px;
	border-radius: 10px;
	background-color: rgb(250, 250, 250);
}

@media(max-width:1024px){
	#container{
		width:100%;
		height:100%;
		margin-top:0px;
	}

	#send input{
		font-size:40px;
	}
}

#innercontainer{
	padding-left:14px;
	padding-right: 14px;
	padding-top:8px;
}

#header{
	background-color: rgb(231, 83, 83);
	width:100%;
	height:10%;
}

#head{
	width: 100%;
	height: 100%;
	display: table;
	align-content: center;
	vertical-align: middle;
}

#head h1 {
	width: 100%;
	display: table-cell;
	text-align: center;
	color: rgb(240, 240, 240);
	font-family: Verdana, Arial;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.messagerContainer{
	height: calc(100% - 12%);
}

.description{
	width: 100%;
	height: 11%;
	display: table;
	position: relative;
}

.description p{
	width: 100%;
	display: table-cell;
	text-align: center;
	color: rgb(65, 65, 65);
	font-family: Verdana, Arial;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

.description button{
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	background: none;
	border: 0px;
	background-size: 68px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 38px;
}

.redButton{
	display: block;
	width: 270px;
	height: 41px;
	margin: 0px auto;
	font-size: 19px;
	text-align: center;
	color: white;
	background-color: rgb(108, 202, 115);
	border: 1px solid rgb(170, 170, 170);
	border-radius: 2px;
	font-family: arial;
	text-decoration: none;
	line-height: 40px;
	margin-top:22px;
}

form input{
	width: 90%;
	display: block;
	margin: 0px auto;
	height: 35px;
	border: 1px solid grey;
	border-radius: 6px;
	padding-left: 10px;
}
form button{
	display: block;
	width: 90%;
	height: 9%;
	margin: 0px auto;
	margin-top: 20px;
	border: 1px solid rgb(167, 167, 167);
	border-radius: 4px;
	background-color: rgb(142, 226, 148);
	color: white;
	font-size: 20px;
}

#chat{
	width: 98%;
	height:100%;
	margin: 0px auto;
	border-top: 1px solid rgb(211, 211, 211);
	border-bottom: 1px solid rgb(211, 211, 211);
	background-color: rgb(253, 253, 253);
	overflow: overlay;
	height: calc(100% - 12% - 11%);
}

#chat ul{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}
#chat li{
	width: 100%;
	height: 40px;
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: arial;
}

#send{
	position: absolute;
	bottom:0;
	width: 100%;
	height: 10%;
	left:0;
}

#send button{
	width: 19%;
	height: 100%;
	float: right;
	
	padding: 0px;
	margin: 0px;

	background-color: rgb(92, 231, 114);
	color: white;

	border-bottom-right-radius: 10px;
	border-bottom: 1px solid rgb(88, 195, 88);
	border-right: 1px solid rgb(88, 195, 88);
	border-left: 0px;
	border-top: 0px;
}

#send input{
	height: 100%;
	width: 80%;
	padding: 0px;
	padding-left: 2%;
	margin: 0px;

	border-bottom-left-radius: 10px;
	border: 1px solid white;
	
	font-family: Verdana;
	font-size: 22px;

	outline: none;
}

@media screen and (orientation:portrait) {
	
	#head h1{
		font-size: 75px;
	}

	.description {
		font-size:50px;
		color:green;
		font-weight: bold;
	}
	.description button{
		width:84px;
		background-size: 70px;
	}

	#send button{
		font-size:45px;
	}

	#send input{
		font-size:40px;
	}

	#chat ul{
		font-size:40px;
	}
	form button{
		font-size: 40px;
	}
}

