<div class="messagerContainer" ng-controller="sessionCtrl as controller">
		<div class="description"><p>{{startedMessage}}</p><button ng-click="shortenLink()" style="background-image:url('media/link.png')"></button></div>
		<div id="chat" scroll-glue>
			<ul>
				<li ng-repeat="message in messages" message-id="{{message.id}}">{{message.user}}: {{message.content}}</li>
			</ul>
		</div>
		<div id="send"><input ng-model="messageContent" ng-send>
			<button ng-click="sendMessage(messageContent)" ng-disabled="!player.canSend">Send</button></div>
</div>